<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ReadON</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon_io/android-chrome-512x512.png" rel="icon">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/bill.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
<a href="index.html"><img src="assets/img/Logo/ReadON Transparent nav.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="" href="/user">Home</a></li>
          <li class="/user"><a href="#"><span>About</span></a>
          <li><a class="active" href="/explore">Explore</a></li>
          <li><a href="/user">Contact</a></li>

        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

 

  <main id="main">

    <div class="container" style="display: block;
    margin-left: auto;
    margin-right: auto; padding: 20px 0 20px 0;">
      <div class="card cart" style="display: block;
      margin-left: auto;
      margin-right: auto;"> 
        <label class="title">CHECKOUT</label>
        <div class="steps">
          <div class="step">
            <div>
              <span>SHIPPING</span>
              <p>Mega Tower -1 [Everest]</p>
              <p>NITK,Surathkal</p>
            </div>
            <hr>
            <div>
              <span>PAYMENT METHOD</span>
              <p>Visa</p>
              <p>**** **** **** 4243</p>
            </div>
            <hr>
            <div class="promo">
              <span>HAVE A PROMO CODE?</span>
              <form class="form">
                <input type="text" placeholder="Enter a Promo Code" class="input_field">
                <button>Apply</button>
              </form>
            </div>
            <hr>
            <div class="payments">
              <span>PAYMENT</span>
              <div class="details">
                <span>Subtotal:</span>
                <span>$39.99</span>
                <span>Shipping:</span>
                <span>$10.00</span>
                <span>Tax:</span>
                <span>$20.40</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="card checkout" style="display: block;
      margin-left: auto;
      margin-right: auto;">
        <div class="footer">
          <label class="price">$70.39</label>
          <button class="checkout-btn"><a href="/user" style="color: black;">Checkout</a></button>
        </div>
      </div>
    </div>


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="assets/img/Logo/ReadON Transparent.png" alt="" style="width: 150px;">
            <p>ReadON is a bookstore that offers a wide variety of books at competitive prices with fast and reliable shipping and excellent customer service.We hope you will give us the opportunity to serve you. Thank you for choosing ReadON!</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="index.html#about">About us</a></li>
              <li><a href="index.html#features">Explore</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Explore</h4>
            <ul>
              <li><a href="#">Fiction</a></li>
              <li><a href="#">Biography</a></li>
              <li><a href="#">Poetry</a></li>
              <li><a href="#">Sci-Fi</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>NH 66, Srinivasnagar<br>
              Surathkal, Mangalore<br>
              Karnataka 575025<br>
              <strong>Phone:</strong>  +91 9035448322<br>
              <strong>Email:</strong>  ridhishahede29@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>ReadON</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>