<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>ReadON</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="assets/img/favicon_io/android-chrome-512x512.png" rel="icon">


  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <div class="logo">
<a href="index.html"><img src="assets/img/Logo/ReadON Transparent nav.png" alt="" class="img-fluid"></a>
      </div>

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="active" href="/user">Home</a></li>
          <li class="#about"><a href="#"><span>About</span></a>
          <li><a href="/explore">Explore</a></li>
          <li><a href="#footer">Contact</a></li>

          <li><a class="getstarted" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container" data-aos="fade-up">
      <h1 style="color: #41cf2e;">Welcome to <strong>ReadON</strong></h1>
      <h2>Your One-Stop shop for all the books</h2>
      <a href="#about" class="btn-get-started scrollto">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="row justify-content-end">
          <div class="col-lg-11">
            <div class="row justify-content-end">

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-emoji-smile"></i>
                  <span data-purecounter-start="0" data-purecounter-end="2900" class="purecounter">0</span>
                  <p>Happy Clients</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-book-half"></i>
                  <span data-purecounter-start="0" data-purecounter-end="4765" class="purecounter">0</span>
                  <p>Books</p>
                </div>
              </div>

              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box py-5">
                  <i class="bi bi-cart4"></i>
                  <span data-purecounter-start="0" data-purecounter-end="887" class="purecounter">0</span>
                  <p>Purchases</p>
                </div>
              </div>


              <div class="col-lg-3 col-md-5 col-6 d-md-flex align-items-md-stretch">
                <div class="count-box pb-5 pt-0 pt-lg-5">
                  <i class="bi bi-award"></i>
                  <span data-purecounter-start="0" data-purecounter-end="26" class="purecounter">0</span>
                  <p>Awards</p>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="row">

          <div class="col-lg-6 video-box align-self-baseline position-relative">
            <img src="assets/img/About_Thumbnail.jpg" class="img-fluid" alt="">
            <a href="assets/video/About_Video.mp4" class="glightbox play-btn mb-4"></a>
          </div>

          <div class="col-lg-6 pt-3 pt-lg-0 content">
            
            <h3></h3>
            <p class="fst-italic">
              Welcome to ReadON, your one-stop shop for all your book needs. We sell a wide variety of books, including fiction, biography, poetry, sci-fi, and more. We have over 4,765 books in stock and have served over 2,900 happy customers.br
              We are passionate about books and believe that they have the power to entertain, educate, and inspire. We are committed to providing our customers with the best possible shopping experience and are always looking for ways to improve.
<br>
              Whether you are a voracious reader or are just looking for a book to curl up with on a rainy day, we have something for everyone. Come and browse our selection today!
            </p>
            <h3>Why Choose Us?</h3>
            <ul>
              <li><i class="bx bx-check-double"></i> Wide selection of books to choose from.</li>
              <li><i class="bx bx-check-double"></i> Competitive prices.</li>
              <li><i class="bx bx-check-double"></i> Fast and reliable shipping.</li>
              <li><i class="bx bx-check-double"></i>Excellent customer service.</li>
            </ul>
           
            <h3>We hope you will give us the opportunity to serve you. Thank you for choosing ReadON!</h3>
          </div>

        </div>

      </div>
    </section><!-- End About Section -->



    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>EXPLORE</h2>
          <p>Embark on a literary journey through fiction, biography, poetry, and sci-fi.</p>
        </div>

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-up">
            <div class="card" style="background-image: url(assets/img/features-1.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">FICTION</h5>
                <p class="card-text" style="text-align: center;">Where the impossible becomes possible</p><br>
                <a id="purchasefiction" class="getstarted" href="/explore">Purchase <strong>$</strong></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0" data-aos="fade-up">
            <div class="card" style="background-image: url(assets/img/features-2.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">BIOGRAPHY</a></h5>
                <p class="card-text"style="text-align: center;">The stories of real people, told for all time</p><br>
                <a class="getstarted" href="/explore">Purchase <strong>$</strong></a>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url(assets/img/features-3.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">POETRY</a></h5>
                <p class="card-text" style="text-align: center;">The power of language, distilled into its purest form</p><br>
                <a class="getstarted" href="/explore">Purchase <strong>$</strong></a>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4" data-aos="fade-up" data-aos-delay="100">
            <div class="card" style="background-image: url(assets/img/features-4.jpg);">
              <div class="card-body">
                <h5 class="card-title"><a href="">SCI-FI</a></h5>
                <p class="card-text" style="text-align: center;">Exploring the future and the unknown</p><br>
                <a class="getstarted" href="/explore">Purchase <strong>$</strong></a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->


  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-info">
            <img src="assets/img/Logo/ReadON Transparent.png" alt="" style="width: 150px;">
            <p>ReadON is a bookstore that offers a wide variety of books at competitive prices with fast and reliable shipping and excellent customer service.We hope you will give us the opportunity to serve you. Thank you for choosing ReadON!</p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><a href="index.html">Home</a></li>
              <li><a href="#about">About us</a></li>
              <li><a href="#features">Explore</a></li>
              <li><a href="#">Terms of service</a></li>
              <li><a href="#">Privacy policy</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Explore</h4>
            <ul>
              <li><a href="#">Fiction</a></li>
              <li><a href="#">Biography</a></li>
              <li><a href="#">Poetry</a></li>
              <li><a href="#">Sci-Fi</a></li>
            </ul>
          </div>

          <div class="col-lg-3 col-md-6 footer-contact">
            <h4>Contact Us</h4>
            <p>NH 66, Srinivasnagar<br>
              Surathkal, Mangalore<br>
              Karnataka 575025<br>
              <strong>Phone:</strong>  +91 9035448322<br>
              <strong>Email:</strong>  ridhishahede29@gmail.com<br>
            </p>

            <div class="social-links">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>

          </div>

          

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>ReadON</span></strong>. All Rights Reserved
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
  <script src="assets/vendor/aos/aos.js"></script>
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <!-- Template Main JS File -->
  <script src="assets/js/main.js"></script>

</body>

</html>